body .navbar-default {
   background-color: #fff;
   border-radius: 5px;
   margin-bottom: 10px;
}
body #project-context > *:first-child, .project-context > *:first-child {color:#343434;display: block;font-size: 18px;font-weight: 400;padding-left: 0;text-align: left;text-shadow: 0 0 1px #fff;text-transform: inherit;font-family: 'Cabin';}

.turgittin {float: left;margin-top: 8px;}
.erd {float: right;margin-top: -8px;}
.search-box-p{
   font-family: 'Cabin';
   font-size: 15px;
   margin-left: 15px;
   margin-top: 13px;
   opacity : 0.5;
      filter : alpha( Opacity=50 );
      -moz-opacity : 0.5;
}
.search-form{
   margin-left: 204px;
}
.search-box-name {
   color: #6E6E6E;
   font-family: cabin;
   font-size: 25px;
   font-weight: 600;
   margin-bottom: 13px;
   margin-left: 380px;
}
.search-tags{
   font-family: 'Cabin';
   font-size: 15px;
   margin-left: 370px;
   margin-top: 110px;
}

body .section1 {
   background-color: #ffffff;
   margin: 0 auto;
   padding-bottom: 30px;
   padding-left: 0;
   padding-right: 0;
   width: 1141px;
   border-radius: 5px;
   
}

.ads {
   display: block;
   float: left;
   height: 70px;
   margin-bottom: 50px;
   margin-left: 30px;
   margin-top: 22px;
   width: 150px;
}
.ads-img {
     background: none repeat scroll 0 0 #fff;
   border-radius: 10px;
   display: flex;
   height: 100%;
   margin: 0 auto;
   max-width: 191px;
   max-height: 75px;
}

.ads-text {
      margin-top: 5px;
   text-align: center;
   width: 100%;
}
.ads-img img {height: 30px;margin: 15px 0 0 20px!important;width: 107px;border-radius: 8px;  }

.com_name{
   font-size: 12px;
}
.ads_name{
   color: #7d7c7c;
   font-size: 11px;
}

